* {
    margin : 0;
    padding : 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style-type: none;
    box-sizing : border-box;
    text-decoration: none;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;

    height: 100dvh;
    width: 100dvw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(27, 66%, 92%);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: min(100dvh, 40rem);
    width: min(100dvw, 35rem);
    padding: 0 20px;
}

.card-balance {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 20px;
    margin-bottom: 20px;
    border-radius: 15px;

    color: hsl(33, 100%, 98%);
    background-color: hsl(10, 79%, 65%);
}

.content-balance h1 {
    font-size: 15px;
}

.content-balance p {
    font-size: 25px;
    font-weight: 800;
}

.logo {
    display: flex;
}

.card-resume {
    display: flex;
    flex-direction: column;
    justify-content: centers;

    height: 70%;

    padding: 25px 20px;
    border-radius: 15px;

    color: hsl(25, 47%, 15%);
    background-color: hsl(33, 100%, 98%);
}

.title {
    font-size: 24px;
    font-weight: 800;

    height: 10%;
}

.graph {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    height: 65%;
}

.column {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 5vh;
    height: 100%;

    font-size: 15px;
    color: hsl(0, 7%, 58%);
}

.column:nth-child(n + 2) {
    margin-left: 1vh;
}

.column-unique-amount {
    display: none;

    text-align: center;
    padding: 2px 0;
    border-radius: 3px;
    width: 100%;

    margin-bottom: 4px;

    font-size: 12px;
    color: hsl(33, 100%, 98%);
    background-color: hsl(25, 47%, 15%);
}

.column-unique {
    width: 100%;

    border-radius: 3px;
    
    color: transparent;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.red:is(.column-unique) {
    background-color: hsl(10, 79%, 65%);
}

.blue:is(.column-unique) {
    background-color: hsl(186, 34%, 60%);
}

.column:hover .red:is(.column-unique) {
    background-color: hsl(10, 79%, 85%);
}

.column:hover .column-unique-amount {
    display: block;
}

.column:hover .blue:is(.column-unique) {
    background-color: hsl(186, 34%, 80%);
}


.result {
    display: flex;
    justify-content: space-between;

    height: 25%;
    margin-top: 15px;

    border-top: 2px solid hsl(27, 66%, 92%);
}

.total {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    width: 50%;
}

.total h1, .increase h1 {
    color: hsl(0, 7%, 58%);
}

.total p {
    font-size: 30px;
    font-weight: 800;
}

.increase {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    width: 50%;
}

.increase p {
    font-weight: 800;
}